<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uid.mapper.TinyIdInfoMapper">
    <select id="selectByBizType" resultType="com.example.uid.model.TinyIdInfo">
        SELECT id, biz_type, max_id, step, version FROM tiny_id_info WHERE biz_type = #{bizType}
    </select>
    <update id="updateMaxId">
        UPDATE tiny_id_info
        SET max_id = #{newMaxId}, version = version + 1, update_time = NOW()
        WHERE biz_type = #{bizType} AND max_id = #{oldMaxId} AND version = #{version}
    </update>
</mapper> 